
/* src/App.css */

body {
  font-family: 'Roboto', sans-serif;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.MuiCardContent-root {
  flex-grow: 1;
}
